.popUpComp {
  display: flex;
  position: absolute;
  top: 55px;
  width: 200px;
  height: 200px;
}

.popUpContainer {
  width: 300px;
  height: 300px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background: rgb(179, 112, 112);
  color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  z-index: 10;
  border-radius: 10px;
  justify-content: center;
  align-content: center;
}

.background {
  width: 100%;
  height: inherit;
  background: rgba(119, 206, 134, 0.8);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popUpContent {
  top: 10px;
  width: 500px;
  height: 500px;
  box-shadow: 0 5px 16px rgba(219, 11, 11, 0.2);
  background: rgb(209, 23, 23);
  color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  z-index: 10;
  border-radius: 10px;
}

.popUpContainer > Button {
  padding: 10px 24px;
  background: #141414;
  color: #fff;
  border: none;
}

.popUpContainer > p {
  margin-bottom: 1rem;
}

.popUpContainer > CancelIcon {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  padding: 0;
  z-index: 10;
}
