.inApp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 220px;
  margin-right: 220px;
}

.imgMid:hover {
  transform: scale(1.2, 1.2);
  transition: transform 2000ms;
}

.imgLeft:hover {
  transform: scale(1.2, 1.2);
  transition: transform 2000ms;
}

.imgRight:hover {
  transform: scale(1.2, 1.2);
  transition: transform 2000ms;
}
