.popUpContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: fit-content;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background: rgb(255, 255, 255);
  color: #000000;
  z-index: 2;
  border-radius: 10px;
  padding: 15px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  width: 100%;
}

.checkIcon {
  top: 10px;
  color: #093445;
  width: unset !important;
}

.modalCheckedTitle {
  display: flex;
  flex-direction: column;
  padding: 5px 40px;
}

.modalTitle {
  font-family: crimson text;
  color: #093445;
  font-size: x-large;
  padding: 5px 40px;
}

.cancelModalBtn {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #093445;
}

.form {
  display: flex;
  flex-direction: column;
}

.inputModal {
  text-align: center;
  outline-width: 0;
  border-radius: 10px;
  border: none;
  padding: 10px 15px;
  margin: 15px;

  background-color: transparent;

  font-family: crimson text;
  color: #093445;

  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
}

.inputModalNachricht {
  text-align: start;
  outline-width: 0;
  border-radius: 10px;
  border: none;
  padding: 10px 15px;
  margin: 15px;
  height: 50px;

  background-color: transparent;

  font-family: crimson text;
  color: #093445;
  resize: none;

  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
}

.form > Button {
  margin: 0px 15px;
  background-color: #093445;
  color: white;
  border-radius: 10px;
  text-transform: none;
}

.form > Button:hover {
  background-color: #093445a9;
}

.form > Button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  pointer-events: none;
  text-transform: none;
}

.modalBackgroundArea {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

@media screen and (max-width: 601px) {
  .popUpContainer {
    width: 300px;
    height: fit-content;
  }
}

.einverstaendnisErk {
  font-family: crimson text;
  color: #093445;
  font-size: 15px;
}
